#b_Settings {
    margin-top: 10px;
    margin-bottom: 10px;
}

::-webkit-input-placeholder {
    color: #8bc34a;
}

[type="text"] {
    padding-left: 10px !important;
    border-bottom: 0px !important;
}

summary {
    cursor: pointer;
}

.setTexts {
    width: 200px;
    max-width: 300px;
    border: transparent;
}

select {
    width: 200px;
    display: inline;
    margin-right: 1px;
    float: left;
}

[type="radio"]:checked+span:after {
    background-color: #558b2f !important;
    border: 2px solid #558b2f !important;
}


label {
    font-size: 15px;
    color: black;
}

.additionalInputs {
    margin-left: 1px !important;
}

input[type="color"] {
    border: none;
    background: #aed581;
    width: 300px;
    height: 100px;
}

#showPage {
    width: 100%;
    height: 500px;
}

textarea {
    float: left;  
    margin-right: 1px;  
}

#result {
    margin-bottom: 10px;
}

#b_set {
    margin-top: 20px;
}