::-webkit-input-placeholder {
    color:    #8bc34a;
}

input {
    width: 300px;
}

select {
    width: 10%;
    display: inline;
}

[type="radio"]:checked+span:after {
    background-color: #558b2f !important;
    border: 2px solid #558b2f !important;
}


label {
    font-size: 15px;
    color: black;
}

#addNewInput, #addNewSlider_elements, #addNewLink {
    font-weight: 900;
    font-size: 25px;
}