#b_Settings {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
}

::-webkit-input-placeholder {
    color: #8bc34a;
}

input {
    width: 350px !important;
}

[type="text"] {
    padding-left: 10px !important;
    border-bottom: 0px !important;
    width: 340px !important;
}

.setParagraphes {
    width: 400px;
    max-width: 500px;
    border: transparent;
}

.setParagraphes:focus {
    border: transparent;
}

select {
    width: 15%;
    display: inline;
    margin-right: 1px;
}

[type="radio"]:checked+span:after {
    background-color: #558b2f !important;
    border: 2px solid #558b2f !important;
}


label {
    font-size: 15px;
    color: black;
}

i {
    padding: 0 !important;
}

[type="button"] {
    padding: 0 !important;
}

.creatingInputs {
    font-size: 16px !important;
}

.additionalInputs {
   margin-left: 1px !important; 
}